# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# IDE stuff
.idea/*
!.idea/externalDependencies.xml
!.idea/kotlinTestDataPluginTestDataPaths.xml
.gradle/
.kotlin/
build/
out/
